<div id="menu" class=" min-h-screen z-10 text-slate-300 h-screen inset-y-0 left-0 flex-wrap items-center justify-between block w-full  overflow-y-auto bg-slate-900 border-0 shadow-none xl:ml-6 z-990 max-w-64 rounded-2xl">
  <div id="logo" class="my-4 px-6">
   <h1 class="text-lg md:text-2xl font-bold">Ecommerce</h1>
   <p class="text-slate-500 text-sm">Manage your actions and activities</p>
  </div>

  <div id="nav" class="w-full px-6">
    @for (item of menuItems; track item.path) {
      <a [routerLink]="item.path"
      routerLinkActive="bg-white/10 border-l-4 border-l-green-500"
      class="w-full px-2 inline-flex space-x-2  border-l-4 items-center  border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150">
        <div class="flex flex-col">
            <span class="text-lg font-bold leading-5 text-white">{{item.title}}</span>
        </div>
    </a>
    }
  </div>
</div>
